<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.project"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk android:targetSdkVersion="17" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/icono_pequeno"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.example.project.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.example.project.NewOrganizationActivity"
      android:label="@string/title_activity_nueva_organizacion"></activity>
    <activity
      android:name="com.example.project.HelpActivity"
      android:label="@string/title_activity_ayuda__cmmi"></activity>
    <activity
      android:name="com.example.project.NewEvaluationActivity"
      android:label="@string/title_activity_nueva_evaluacion"></activity>
    <activity
      android:name="com.example.project.OrganizationDetailsActivity"
      android:label="@string/title_activity_consultar_organizacion"></activity>
    <activity
      android:name="com.example.project.ConfigurationManagementActivity"
      android:label="@string/title_activity_gestion_configuracion"></activity>
    <activity
      android:name="com.example.project.Consultar_evaluaciones"
      android:label="@string/title_activity_consultar_evaluaciones"></activity>
    <activity
      android:name="com.example.project.MeasurementAnalysisManagementActivity"
      android:label="@string/title_activity_medicion_analisis"></activity>
    <activity
      android:name="com.example.project.Monitorizacion_control_proyecto"
      android:label="@string/title_activity_monitorizacion_control_proyecto"></activity>
    <activity
      android:name="com.example.project.Planificacion_proyecto"
      android:label="@string/title_activity_planificacion_proyecto"></activity>
    <activity
      android:name="com.example.project.Aseguramiento_calidad_proceso_producto"
      android:label="@string/title_activity_aseguramiento_calidad_proceso_producto"></activity>
    <activity
      android:name="com.example.project.Gestion_requisitos"
      android:label="@string/title_activity_gestion_requisitos"></activity>
    <activity
      android:name="com.example.project.Gestion_acuerdos_proveedores"
      android:label="@string/title_activity_gestion_acuerdos_proveedores"></activity>
    <activity
      android:name="com.example.project.Planificacion_proyecto2"
      android:label="@string/title_activity_planificacion_proyecto2"></activity>
    <activity
      android:name="com.example.project.Planificacion_proyecto_2"
      android:label="@string/title_activity_planificacion_proyecto_2"></activity>
    <activity
      android:name="com.example.project.Aseguramiento_calidad_proceso_producto_2"
      android:label="@string/title_activity_aseguramiento_calidad_proceso_producto_2"></activity>
    <activity
      android:name="com.example.project.NewEvaluationStagesActivity"
      android:label="@string/title_activity_nueva_evaluacion_etapas"></activity>
    <activity
      android:name="com.example.project.Nueva_evaluacion_continua"
      android:label="@string/title_activity_nueva_evaluacion_continua"></activity>
    <activity
      android:name="com.example.project.AboutActivity"
      android:label="@string/title_activity_acerca_de"></activity>
    <activity
      android:name="com.example.project.Plot"
      android:label="@string/title_activity_plot"></activity>
    <activity
      android:name="com.example.project.Plot2"
      android:label="@string/title_activity_plot2"></activity>
  </application>

</manifest>